.homepage {
  padding: 120px 60px;
  color: white;
  background-image: url("Image1/kandawgyi-park.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh; 
  display: flex;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.text-area {
  max-width: 550px;
}

.big-title {
  font-size: 80px;
  line-height: 0.9;
  font-weight: 700;
  margin: 0 0 25px 0;
    /* Animation */
  animation-name: title;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.paragraph {
  background-color: #0f2f185c;
  border-radius: 15%;
  padding: 15px;
  font-size: 19px;
  line-height: 1.45;
  margin-bottom: 40px;
  max-width: 550px;
    /* Animation */
  opacity: 0%;
  animation-name:myAnimation;
  animation-duration: 1.5s;
  animation-delay: 0.s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  
}

.cta {
    background-color: #03381695;
  display: inline-block;
  padding: 14px 30px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 6px;
  /* transition */
  transition: 0.2s ease-in-out;
  /* Animation */
  opacity: 0%;
  animation-name: button;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.cta:hover {
  background-color: white;
  color: #0f2f2d;
}
@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}
@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 2nd section */
.park-gallery-section {
  padding: 80px 40px;
  text-align: center;
  background-color: #0f2f2d;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(20px);
  color: white;
}
.gallery-title {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 700;
     /* Animation */
  opacity: 0%;
  animation-name: parks;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.gallery-subtitle {
  font-size: 20px;
  opacity: 0.9;
  max-width: 650px;
  margin: 0 auto 40px auto;
  /* Animation */
  opacity: 0%;
  animation-name: parks;
  animation-duration: 1.5s;
  animation-delay: 3.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.parks-row .col-4,
.parks-row .col-s-6 {
  padding: 12px;
}

.park-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  height: 230px; 
  margin: 10px; 
  
  /* Animation */
  opacity: 0;
  animation: cards 2s ease-out forwards;
  animation-delay: 4.5s;
}



.park-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /* transition */
  transition: transform 1s ease;
}

/* HOVER */
.park-card:hover img {
  transform: scale(1.1);
}

/* TEXT */
.park-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  font-size: 20px;
  font-weight: 600;
  /* transition */
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

/* TEXT ON HOVER */
.park-card:hover .park-name {
  opacity: 1;
  transform: translateY(0);
}

.gallery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;   
  margin: 10px;
  background: #5c6e66c0;
  color: white;
  border: white;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s ease;
  opacity: 0;
  animation: cards 2s ease-out forwards;
  animation-delay: 5s;
}

.gallery-btn:hover {
  background: rgba(201, 235, 215, 0.47);
  color: #0f2f2d;
}
.gallery-btn a {
    text-decoration: none;
    color: white;
}

/* ANIMATIONS */
@keyframes parks {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

}
@keyframes cards {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 2nd section ends */

/* 3rd section */
.purpose-section {
  padding: 80px 50px;
  text-align: center;
  background-color:#0f2f2d;
}
.purpose-container {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  
}

.purpose-card {
  flex: 1 1 300px;     
  max-width: 350px;    
  box-sizing: border-box;
  margin: 30px;
}


.purpose-title {
  font-size: 50px;
  margin-bottom: 60px;
  font-weight: 700;
  color:white
}

/* Card Style */
.purpose-card {
  background: white;
  border: 1px solid #dcd5cf;
  border-radius: 15px;
  height: 400px;
  padding: 40px 25px;
  margin: 55px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.purpose-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(255, 239, 239, 0.459);
}

/* Logo on top */
.purpose-icon {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Title */
.purpose-card h3 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #2a2335;
}

/* Paragraph */
.purpose-card p {
  font-size: 16px;
  line-height: 1.5;
  color: #52465d;
}
/* purpose section ends */

/* 4th section of content */

.content-quiz-section {
    padding: 80px 60px;
    background: #0f2f2d;
}

.quiz-card {
    text-align: center;
    background: white;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
}

.quiz-icon {
    width: 80px;
    margin-bottom: 15px;
}

.quiz-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.quiz-description {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.4;
}

.quiz-btn {
    padding: 14px 28px;
    background: #1b8d5a;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.quiz-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(255, 239, 239, 0.459);
}

.quiz-btn:hover {
    background: #166c47;
}
/* end of quiz*/

.about-contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;        
  margin: 50px 0;
}


.card-equal {
  width: 100%;
  min-height: 480px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about-card,
.contact-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 12px #00000025;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.about-card:hover,
.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 25px #00000035;
}


.card-img {
  width: 100%;
  height: 230px;  
  object-fit: cover;
  border-radius: 12px;
}

/* Buttons */
.btn-card {
  margin-top: auto;
  padding: 10px 22px;
  background: #0A5B0A;
  color: white;
  border-radius: 8px;
  border: 1px solid #0A5B0A;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-card:hover {
  background: #ffffff;
  color: #0A5B0A;
}


/* Responsive adjustments */
@media (max-width: 900px) {
  .homepage {
    padding: 80px 30px;
  }

  .big-title {
    font-size: 55px;
  }

  .subtitle {
    font-size: 17px;
  }
  
}
/* tablet */
@media (max-width: 768px) {
  .homepage {
    padding: 90px 30px;
  }

  .big-title {
    font-size: 55px;
  }

  .subtitle {
    font-size: 17px;
  }

  .cta {
    font-size: 16px;
    padding: 12px 28px;
  }
  .col-s-6, .col-4 {
    width: 50%;
  }

  .park-card {
    height: 200px;
  }

  .gallery-btn {
    height: 200px;
  }
  .purpose-card {
    width: 100%;
    margin-bottom: 30px;
  }
   .quiz-section {
        padding: 40px 25px;
        
    }

    .quiz-section h2 {
        font-size: 28px;
    }

    .quiz-section p {
        font-size: 16px;
    }

    .quiz-btn {
        font-size: 16px;
        padding: 12px 28px;
    }
    .about-contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .col-5 {
    width: 90%;
  }

}

/* mobile */
@media (max-width: 500px) {
  .homepage {
    padding: 75px 20px;
  }

  .big-title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 16px;
  }

  .cta {
    font-size: 15px;
    padding: 10px 25px;
  }
  .col-s-6, .col-4 {
  width: 100%;
}

.park-card {
  height: 180px;
}

.gallery-btn {
  height: 180px;
}

  .purpose-title {
    font-size: 40px;
  }

  .purpose-icon {
    width: 70px;
    height: 70px;
  }

  .purpose-card h3 {
    font-size: 22px;
  }

  .purpose-card p {
    font-size: 15px;
  }
  .quiz-section {
        padding: 35px 20px;
    }

    .quiz-section h2 {
        font-size: 24px;
    }

    .quiz-section p {
        font-size: 15px;
    }

    .quiz-btn {
        font-size: 15px;
        padding: 10px 25px;
    }
    .about-contact-wrapper {
    flex-direction: column;
    gap: 25px;
    padding: 0 20px;
  }

  .card-equal {
    min-height: auto;
  }

  .card-img {
    height: 180px;
  }
}
