nav{
    background-color:#29432e81;
    height: 52px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 25px;
    margin-top: 4px;
    z-index: 9999;
    
}

nav ul li {
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    margin: 0 20px;
    color: white;
    font-style:arial;
  
}


/* logo */
nav .logo{
    position: absolute;
    float: left;
    left: 30px;
    display: flex;
    align-items: center;
    height: 60px;
}
nav .logo img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.center{
    text-align: center;
}
#search {
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
/* check btn */
nav #check {
    display: none;
}
nav .checkbtn {
    float: right;
    font-size: 40px;
    color: white;
    margin-right: 30px;
    line-height: 60px;
    display: none;
}
.right_nav{
    display: inline-block;
    position: absolute;
    left: auto;
    right: 30px;
}

.active {
    background-color:rgb(87, 148, 120);
    padding: 5px 10px;
    border-radius: 7px;
}
@media screen and (max-width:992px) {
    .right_nav {
        position: relative;
        left: 0; right: 0;
        padding: 0;
    }
}
/* for small devices */
@media screen and (max-width:901px) {
   nav .checkbtn{
        display: block;
        
    }
    nav ul li{
        display: block;
        margin: 30px 0;
    }
    nav ul{
        background-color: rgba(6, 66, 26, 0.607);
        text-align: center;
        padding: 30px 0;
        width: 100%;
        position: fixed;
        top: 40px;
        left: -100%;
    }
   
    #check:checked ~ ul {
        left: 0;
    }
    .search {
        margin-left: 0;
    }
}
